*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none !important;
}

/* =================================
           navbar part start
==================================== */

nav{
    position: absolute;
    width: 100%;
    top: 22px;
}

nav a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-left: 26px;
    color: #fff !important;
}

/* =================================
           navbar part end
==================================== */

/* =================================
           banner part start
==================================== */
#banner-part{
    background: url(../images/banner\ 1.png) no-repeat center;
    background-size: cover;
    padding: 298px 0 241px;
}

#banner-part .row{
    position: relative;
}

#banner-part h1{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    font-weight: 600;
    color: #fff;
    width: 800px;
}

#banner-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 607px;
    margin: 15px 0 43px;
}

#banner-part a{
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    padding: 15px 39px;
    background: #fff;
    border-radius: 5px;
    margin-right: 24px;
}

#banner-part i{
    display: inline-block;
    margin-right: 7px;
}

#banner-part img{
    position: absolute;
    bottom: -270px;
    right: 0;
    z-index: 3;
}

#banner-part .img{
    position: relative;
    z-index: 2;
}

#banner-part .img img{
    position: absolute;
    bottom: -370px;
    left: 0;
    z-index: -1;
}

/* =================================
           banner part end
==================================== */

/* =================================
           about part start
==================================== */
#about-part{
    padding-top: 184px;
}

#about-part .row{
    text-align: center;
    position: relative;
}

#about-part h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#about-part h2::after{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 137px;
    height: 3px;
    background: #202877;
    content: "";
}

#about-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 774px;
    margin: 18px auto 44px;
}

#about-part .item{
    text-align: center;
    padding: 26px 0 58px;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.21);
    margin-top: 34px;
    position: relative;
}

#about-part .item::after{
    width: 0;
    height: 4px;
    background: #372E95;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .4s;
}

#about-part .item:hover::after{
    width: 356px;
}

#about-part i{
    color: #372E95;
    font-size: 119px;
    display: inline-block;
}

#about-part h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #000;
    margin: 21px 0 28px;
}

#about-part .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 365px;
    margin: 0 auto;
}

/* =================================
           about part end
==================================== */

/* =================================
           service part start
==================================== */

#service-part{
    padding-top: 150px;
}

#service-part .row{
    text-align: center;
    position: relative;
}

#service-part h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#service-part h2::after{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 137px;
    height: 3px;
    background: #202877;
    content: "";
}

#service-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 774px;
    margin: 18px auto 66px;
}

#service-part .img img{
    margin-left: -10px;
}

#service-part .item{
    height: 585px;
    margin-top: 90px;
}

#service-part .item img{
    height: 100%;
}

/* =================================
           service part end
==================================== */

/* =================================
           news part start
==================================== */

#news-part{
    padding-top: 188px;
}

#news-part .row1{
    text-align: center;
    position: relative;
}

#news-part h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#news-part h2::after{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 137px;
    height: 3px;
    background: #202877;
    content: "";
}

#news-part p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 774px;
    margin: 18px auto 0;
}

#news-part h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
    width: 650px;
    margin-top: 146px;
}

#news-part .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 699px;
    margin: 16px 0 51px;
}

#news-part ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    width: 652px;
    margin-left: 52px;
    position: relative;
    margin-bottom: 22px;
}

#news-part i{
    position: absolute;
    left: -51px;
    top: 7px;
    color: #372E95;
    font-size: 25px;
}

#news-part a{
    display: inline-block;
    padding: 21px 41px;
    background: #372E95;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    margin-top: 30px;
}

#news-part img{
    margin-left: 70px;
}

/* =================================
           news part end
==================================== */

/* =================================
           office part start
==================================== */

#office-part{
    padding-top: 108px;
}

#office-part .row1{
    text-align: center;
    position: relative;
}

#office-part h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#office-part h2::after{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 137px;
    height: 3px;
    background: #202877;
    content: "";
}

#office-part .p1{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 774px;
    margin: 18px auto 89px;
}

#office-part h3{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #000;
}

#office-part .p2{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    width: 513px;
}


#office-part i{
    width: 50px;
    height: 50px;
    background: #372E95;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    margin-right: 25px;
    margin-top: 22px;
    display: inline-block;
}

#office-part h4{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    display: inline-block;
}

#office-part .name{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #544F4F;
    border: 0;  
    border-bottom: 2px solid #372E95;
    width: 235px;
    margin-right: 70px;
    padding-bottom: 6px;
}

#office-part .email{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #544F4F;
    border: 0;  
    border-bottom: 2px solid #372E95;
    width: 235px;
    padding-bottom: 6px;
}

#office-part .subject{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #544F4F;
    border: 0;  
    border-bottom: 2px solid #372E95;
    width: 544px;
    margin: 64px 0 50px;
    padding-bottom: 15px;
}

#office-part .message{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #544F4F;
    border: 2px solid #372E95;
    border-radius: 19px;
    width: 544px;
    padding: 13px 0 119px 12px;
}

#office-part a{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background: #372E95;
    color: #fff;
    padding: 13px 23px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 35px;
}

/* =================================
           office part end
==================================== */

/* =================================
           footer part start
==================================== */
footer{
    margin-top: 29px;
    background: #000;
    padding-top: 56px;
    position: relative;
}

footer .container::after{
    width: 1116px;
    height: 1px;
    background: #7A7474;
    content: "";
    position: absolute;
    bottom: 60px;
    left: 117px;
}

footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    width: 443px;
    margin-top: 28px;
}

footer .icons{
    margin-top: 58px;
}

footer i{
    color: #fff;
    margin-right: 23px;
    font-size: 30px;
}

footer h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 30px;
}

footer .gap .box{
    margin-left: -25px;
}

footer .gap .box2{
    margin-left: 15px;
}

footer .gap .box3{
    margin-left: 58px;
}

footer ul li{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
}

footer .copy{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin: 50px 0 17px;
}

/* =================================
           footer part end
==================================== */